@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

.carouselcomp {
    position: relative;
    z-index: 1000000000000000000000;
}

/* Swiper js adjustments */
.swiper-button-prev,
.swiper-button-next {
    position: relative;
    z-index: 1000000000000000000000;
}

.swiper-button-prev {
    text-align: center!important;
    top: 92.1% !important;
    left: 42% !important;
}

.swiper-button-next {
    text-align: center!important;
    top: 92.1%!important;
    right: 42% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 10px !important;
    font-weight: 600;
    border-radius: 50% !important;
    color: #7CC140 !important;
    padding: 11px 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #7CC140 !important;
}
.swiper-pagination {
    z-index: 2!important;
}
.swiper-wrapper {
    transform: translate3d(0px, 0, 0);
    padding-bottom: 60px;
}

.swiper-pagination-bullet {
    height: 10px !important;
}

.swiper-pagination-bullet-active {
    width: 30px !important;
    height: 10px !important;
    background-color: #7CC140 !important;
    border-radius: 5px !important;
}

.box {
    display: flex!important;
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
    height: 200px!important;
    width: 260px!important;
    position: relative;
    font-family: "Mulish", sans-serif;
    background-color: #F2FBFF;
    border: 3px solid transparent;
    border-radius: 12px;
    z-index: 1; /* Ensure the box content is above the ::after element */
}

.box::before {
    content: '';
    position: absolute;
    top: -3px; /* Adjust to overlap the border size */
    right: -3px;
    bottom: -3px;
    left: -3px;
    background: linear-gradient(360deg, rgb(49, 119, 165) 0%, rgb(120, 200, 49) 100%);
    z-index: -1; /* Ensure it stays behind the box content */
    border-radius: 13px; /* Match the box's rounded corners */
}
.box::after{
    z-index: -1; /* Ensure it stays behind the box content */
    border-radius: 11px!important; /* Match the box's rounded corners */
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 195px!important;
    width: 255px!important;
    background-color: #F2FBFF!important;

}

#iphone {
    width: 90px;
}